section.section-testimonials.text-center.bg-default.wow.fadeScale
		.container.divider
		// Owl Carousel
		.owl-carousel.owl-testimonials(data-items='1', data-stage-padding='15', data-margin='30', data-autoplay='false',
			data-owl!={
				loop: true,
				dots: true,
				nav: false,
				autoplayTimeout: 5000,
				smartSpeed: '1000'
			})
			.item
				// Quote default
				.quote-default
					.quote-default__text: p.h3 Went there for the first time the other day, the customer service was outstanding! They were checking on us every few minutes and were very attentive, especially for how busy it was on the recent weekends.
					.quote-default__image
						+img('testimonials-1-80x80')
					p.quote-default__cite Esther Howard
					p.quote-default__position Client

			.item
				// Quote default
				.quote-default
					.quote-default__text: p.h3 Everything was perfect! The taquitos were crispy and full of chicken and came with guacamole and sour cream. The burrito was huge and tasty. Portions were generous and I also enjoyed your customer service a lot.
					.quote-default__image
						+img('testimonials-2-80x80')
					p.quote-default__cite James Wilson
					p.quote-default__position Client

			.item
				// Quote default
				.quote-default
					.quote-default__text: p.h3 The food and drinks were so good, we came back the next day! Even though it was hot, the drinks kept us cool as they were so refreshing. We had the house margarita pitcher and an order of shredded tacos.
					.quote-default__image
						+img('testimonials-3-80x80')
					p.quote-default__cite Ann Williams
					p.quote-default__position Client

			.item
				// Quote default
				.quote-default
					.quote-default__text: p.h3 This place was affordable for the area, the staff was friendly, the food was fresh and the atmosphere was great. I came here with 3 other friends for lunch and was able to sample different dishes.
					.quote-default__image
						+img('testimonials-4-80x80')
					p.quote-default__cite Jennifer Adams
					p.quote-default__position Client